*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(46, 45, 45);
}

.fa-solid{
    color: #333;
    font-size: 80px;
    transform: translateY(-120%);
}


.fancy-button{
    width: 240px;
    height: 100px;
    margin-left: 1.5rem;
    margin-right: 5rem;
    padding: 0.5rem 2.5rem;
    font-size:0.9rem;
    font-weight: bold;
    border: 1px solid rgb(180, 171, 171);
    color: rgb(255, 255, 255);
    background-color: rgb(164, 169, 175);
    transform: rotateZ(25deg) skewX(-30deg) translate(0, 0);
    transition: 380ms ease-in;
}

.fancy-button::after{
    content: '';
    display: block;
    width: 242px;
    height: 20px;
    border: 1px solid white;
    background-color: rgb(178, 180, 182);
    top: 100%;
    transform: translateX(-32px) translateY(-90px) skewX(45deg);
    border-radius: 0 0 5px 5px;
    transition: background-color 400ms ease-in;
}

.fancy-button::before{
    content: '';
    display: block;
    width: 20px;
    height: 100px;
    border: 1px solid white;
    background-color: rgb(88, 85, 85);
    right: 0;
    transform: translateX(199px) translateY(1px) skewY(45deg);
    border-radius: 0 0 5px 5px;
    transition: background-color 400ms ease-in;
}



.fancy-button:hover{
    background-color: rgb(19, 204, 81);
    transform: rotate(25deg) skew(-30deg) translate(0px, -30px);
    transition: transform 500ms ease, box-shadow 500ms ease;
    box-shadow: 40px 50px 20px rgb(0, 0, 0, 0.5);
}

.fancy-button:hover::before{
    background-color: rgb(9, 102, 55);
    transition: background-color 0.5s ease;
}

.fancy-button:hover::after{
    background-color: rgb(33, 189, 85);;
    transition: background-color 0.5s ease-in;
}

@media(max-width : 57rem){
    body{
        display: block;
        height: 100vh;
        margin-top: 20%;
        margin-left: 10%;
        padding: 1rem;
    }

    .fa-solid{
        font-size: 50px;
        transform: translateY(-80px);
        color: #333;
    }

    .btn-text{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        padding: 1px 2px;
        color: rgb(39, 38, 38);
    }

    .button-sides{
        margin: 4rem;
    }

    .fancy-button::after{
        content: '';
        display: block;
        width: 242px;
        height: 20px;
        border: 1px solid white;
        background-color: rgb(129, 126, 126);
        top: 100%;
        transform: translateX(-30px) translateY(-60px) skewX(45deg);
        border-radius: 0 0 5px 5px;
    }
}